<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="Dictionary" value="Lib" />-->
    <add key="Gamedata" value="../../gamedata" />
    <add key="Configs" value="../../gamedata/configs" />
    <add key="Levels" value="../../gamedata/levels" />
    <add key="Textures" value="../../gamedata/textures" />
    <add key="TexturesMap" value="../../gamedata/textures/map" />
    <add key="TexturesPlayer" value="../../gamedata/textures/player" />
    <add key="TexturesItems" value="../../gamedata/textures/items" />
    <add key="Scripts" value="../../gamedata/scripts" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<probing privatePath="Lib;" />-->
    </assemblyBinding>
  </runtime>
</configuration>